80%@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, .85);
}

@font-face { font-family: GuanabaraSansExtraBold; src: url('GuanabaraSans.otf'); }
 @font-face { font-family: GuanabaraSans; font-weight: bold; src: url('GuanabaraSansExtraBold.otf');}


*, *::before, *::after {
  box-sizing: border-box;
}

/* this is for the text */

body {
	margin: 0;
	background: #fff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

/*This part is for all the content on this webpage*/

.contentcontent {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #fff;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* This part is for the navigation */

header {
  background: #15161b;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header{
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgb(40, 43, 51);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #EE4E79;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;

    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #EE4E79;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

/*This is for the Contact Form*/

.form-control	{
					width: 600px;
					background: transparent;
					border: none;
					outline: none;
					border-bottom: 1px solid gray;
					font-size: 18px;
					margin-bottom: 16px;
					font-family: calibri light, arial;
				}
input			{
					height: 45px;
				}
form .form-control-submit	{
					background: #000000;
					border-color: transparent;
					color: #fff;
					font-size: 24px;
					height: 50px;
					margin-top: 0px;
          box-shadow: 0 9px #999;
          border-radius: 15px;
          text-align: center;
				}
form .form-control-submit:hover{
					color: #EE4E79;
					cursor: pointer;
				}
		body	{
					background-color: white;
				}

/*This is the gallery*/

.gallery	{
	margin: 10px 50px;
}
.gallery img{
		width: 230px;
		padding: 5px;
		filter: grayscale(100%);
		transition: 1s;
}
.gallery img:hover{
		filter: grayscale(0%);
		transform: scale(1.1);
}

@media screen and (max-width:640px){
		#container{
			width: 100%;
		}
		.logo{
			height: 20%;
			width: 50%
		}
		img{
			width: 100%;
			height: 60%;
		}
		.map{
			width: 100%
}

@media screen and (max-width:640px){
	#container{
		width: 100%;
	}
	.logo{
		height: 15%;
	}
  .index-columns{
    width: 100%
	}
}

@media screen and (max-width:320px){
	#container{
		width:100%;
	}
}

@media screen and (max-width:640px){
  .row{
    display: flex;
  }
  .icons{
    width: 100%;
  }
  .contact-facebook{
    width:80%;
    height:80%;
    padding: 2px;
  }
  .contact-twitter{
    width:80%;
    height:80%;
    padding: 2px;
  }
  .contact-instagram{
    width:80%;
    height:80%;
    padding: 2px;
  }
  .contact-pinterest{
    width:80%;
    height:80%;
    padding: 2px;
  }
  .contact-email{
    width:80%;
    height:80%;
    padding: 2px;
  }
}

div.products{
  width: 1000px: display: table: margin: auto;
}

div.products h1{
  text-align: center;
  font-size: 50px;
}

div.products ul
div.products ul li{
  float: left: padding: 0px: liat-style: none;
}

div.products ul{
  width: 100%;
  margin-top: 20px;
}

div.products ul li{
  width: 25%;
}

div.products thead{
  color: #fe18ac;
}

div.products table{
  color: white;
}


/*Start of Products CSS*/

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}
* {
  box-sizing: border-box;
}

/* Create three columns of equal width */

.columns {
  -ms-flex: 0 0 33.3;
  flex: 0 0 33.3;
  max-width: 33.3;
  padding: 10px;
  float: left;
  width: 33.3%;
  padding: 8px;
}

/*Style the Index Page's Columns*/
.index-columns{
    float: left;
    width: 33.3%;
    padding: 5px;
    width: 25%;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration-color: #EE4E79;
}

.index-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 25px;
    width: 100%;
}


/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #15161B;
  color: white;
  font-size: 25px;
}

.header1 {
  background-color: #EE4E79;
  color: white;
  font-size: 20px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Click Here" button */
.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #14151a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {color: #EE4E79}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer{
   background-color: #15161b;
   padding: 1px;
   color: #fff;
   font-size: 15px;
}

.columns{
  background-color: white;
}

body, html {
  height: 100%;
}

.content{
  position: relative;
  text-align: center;
  color: white;
}

.home-image1  {
  width:100%;
}

}
.info{
  z-index: 1;
  position: relative;
  text-align: right;
  color: #fff;
  font-size: 80px;
}
.purchase-link{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "GuanabaraSansExtraBold";
}

.about-heading{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
}

.index-p{
  padding: 25px;
  color: #21252B;
}

.about-p{
    color: #15161B;
    font-size: 100%;
    padding: 10px;
    font-family: arial;
}

@media only screen and (max-width: 600px) {
  .index-columns {
    width: 100%;
  }
}

.email-me{
  text-decoration: none;
  color: #15161B;
}
