@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.contentcontent {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #fff;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

header {
  background: #15161b;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgb(40, 43, 51);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #f91ca7;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #f91ca7;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}
.form-control	{
					width: 600px;
					background: transparent;
					border: none;
					outline: none;
					border-bottom: 1px solid gray;
					font-size: 18px;
					margin-bottom: 16px;
					font-family: calibri light, arial;
				}
input			{
					height: 45px;
				}
form .form-control-submit	{
					background: #15161b;
					border-color: transparent;
					color: #fff;
					font-size: 20px;
					letter-spacing: 2px;
					height: 50px;
					margin-top: 20px;
					font-family: calibri light;
				}
form .form-control-submit:hover{
					color: #f91ca7;
					cursor: pointer;
				}
		body	{
					background-color: white;
				}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 58px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  /* border-radius: 50%; */
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 0px 0px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.icons	{
	color: #14151a;
}
.gallery	{
	margin: 10px 50px;
}
.gallery img{
		width: 230px;
		padding: 5px;
		filter: grayscale(100%);
		transition: 1s;
}
.gallery img:hover{
		filter: grayscale(0%);
		transform: scale(1.1);
}
@media screen and (max-width:959px){
		#container{
			width: 100%;
		}
		.logo{
			height: 20%;
			width: 50%
		}
		img{
			width: 100%;
			height: 60%;
		}
		.map{
			width: 100%
		}
		.icons{
			width: 10%;
			height: 10%;
		}
}

@media screen and (max-width:640px){
	#container{
		width: 100%;
	}
	.logo{
		height: 15%;
	}
	.icons{
		width: 7.5%;
		height: 10%;
	}
}

@media screen and (max-width:320px){
	#container{
		width:100%;
	}
	.icons{
		width: 5%;
	}
	
}